<div class="container">
	
	{{#each channel}}
	<div class="row mt-5 text-center">
		<div class="col-md-12">
			<form id="formLive" method="POST">
				{{#if live}}
					<button class="btn" type="submit" style="box-shadow: none; width: 80px;">
						<i class="fas fa-circle redFollow" id="live-online-circle" style="font-size: 35px; background:red; border-radius:50%; padding:4px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)"></i>
					</button>
					<label class="badge badge-danger" id="live-online-label" style="padding:10px; display:inline;">Parar Retransmisión</label>
				{{else}}
					<button class="btn" type="submit" style="box-shadow: none; width: 80px;">
						<i class="fas fa-circle gray" id="live-online-circle" style="font-size: 35px; background:gray; border-radius:50%; padding:4px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)"></i>
					</button>
					<label class="badge badge-light" id="live-online-label" style="padding:10px; display:inline;">Iniciar Retransmisión</label>
				{{/if}}
			</form>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-body">
					{{> successAjax}}
					<form id="formPanelControl">
						<p class="h4 text-center py-4" style="color: #000;">Información de emisión</p>
						<div class="md-form">
							<i class="fas fa-pencil-alt prefix grey-text"></i>
							<textarea id="title" class="md-textarea form-control" value="">{{title}}</textarea>
							<label for="materialFormCardNameEx" class="font-weight-light">Titulo (140)</label>
						</div>

						<div class="md-form">
							<i class="fas fa-gamepad prefix grey-text"></i>
							<input data-search type="search" id="category" class="form-control" value="{{category}}"
								autocomplete="off">
							<label for="materialFormCardPasswordEx" class="font-weight-light">Categoria</label>
						</div>

						<div class="text-center py-4 mt-3">
							<button class="btn btn-block" style="background: #4e4376; color: #fff; font-weight: 600;"
								id="btn-update" type="submit">Actualizar información</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-6">
			<div class="card" {{!-- style="width: 450px; height: 28rem;" --}}>
				<div class="card-body">
					<p class="h4 text-center py-4" style="color: #000;">Vista preliminar del stream</p>
					<div id="player" style="width:100%;height:305px;margin:0 auto;text-align:center"></div>
				</div>
			</div>
		</div>
	</div>

	{{/each}}
	<div class="contentNano">
		<div id="about" class="nano">
			<div class="content" id="content">
				{{#each categories}}
				<button data-filter-item data-filter-name="{{name}}" value="{{name}}" type="submit"
					class="btn-category">{{name}}</button>
				{{/each}}
			</div>
		</div>
	</div>
	{{!-- <div class="contentNano">
		<div id="about" class="nano">
			<div class="content" id="content">
				{{#each categories}}
				<a href="/users/profile">
					<button data-filter-item data-filter-name="{{name}}" value="{{name}}" type="submit"
						class="btn-category">{{name}}</button>
				</a>
				{{/each}}
			</div>
		</div>
	</div> --}}
</div>

<script>
	$f("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf", {
		clip: {
			url: 'rtmp://localhost:1935/live/{{userChannel}}',
			live: true,
			scaling: 'fit',
			provider: 'influxis',
			autoPlay: false
		},

		plugins: {
			influxis: {
				url: "flowplayer.rtmp-3.2.13.swf",

				netConnectionUrl: 'rtmp://localhost:1935/live/{{userChannel}}'
			}
		}
	});
</script>