<div class="row" id="test" style="z-index:0;"></div>
<div class="row" style="z-index:0;">
	<div class="col-md-9">
		<nav class="navbar navbar-expand-lg navbar-dark info-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<img src="/img/uploads/{{userChannel.filename}}" class="rounded-circle z-depth-0"
						alt="avatar image">
					<li class="nav-item">
						<a class="nav-link" href="/channel/channel/{{id}}">{{userChannel.user}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="followersId" href="/channel/followers/{{userChannel._id}}">Seguidores {{followers}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="followedId" href="/channel/followeds/{{userChannel._id}}">Siguiendo {{followed}}</a>
					</li>
				</ul>
				<input type="hidden" id="idUserChannel" value="{{id}}">
				
				<ul class="navbar-nav">
					<form action="/channel/channel/{{userChannel._id}}" id="formFollow">
						<ul class="navbar-nav ml-auto nav-flex-icons">
							<li class="nav-item">
								{{#if user}}
									{{#if follow}}
									<button class="btn" id="btn-follow" style="padding: 0px;" type="submit">
										<a class="nav-link">
											<i class="fas fa-heart redFollow" id="heart"></i>
										</a>
									</button>
									{{else}}
									<button class="btn shadoww" id="btn" style="padding: 0px;"
										type="submit">
										<a class="nav-link">
											<i class="fas fa-heart" id="heart"></i>
										</a>
									</button>
									{{/if}}
								{{/if}}
							</li>
						</ul>
					</form>
				</ul>
			</div>
		</nav>
	</div>
	<div class="col-md-3 d-none d-md-block" style="">
		<ul class="form-control rounded-1 chatTextarea" id="messages_{{id}}" style="background:#fff; height: 740px; overflow-y: scroll;"></ul>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<div id="player" style="width:100%;height:700px;"></div>
	</div>
	<div class="col-md-9">
		{{#if categoryFilename}}
			<img src="/img/categories/{{categoryFilename}}" style="height: 85px; border: 1px solid rgba(83, 83, 83, 0.8); float:left; margin: 8px;" alt="">
		{{/if}}
		{{#each channel}}
		<div style="width: 100%; border: 1px solid rgb(196, 196, 196, 0.8); padding: 15px;">
			<label style="margin-left:8px; font-size: 20px;">Titulo: {{title}}</label>
				<div>
				<label class="badge badge-secondary" style="margin-left:8px;">categoria: {{category}}</label>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="col-md-3 d-none d-md-block">
		<form class="formChat" id="formChat_{{id}}" action="/channel/channel/{{id}}" method="POST">
			<textarea placeholder="Enviar un mensaje" id="text_{{id}}" class="form-control" rows="2" style="width: 100%;resize: none;"></textarea>
			<button type="submit" class="btn info-color" style="padding: 7px; font-size: 12px; float:right; color:#fff;">Enviar</button>
		</form>
	</div>
</div>

<script>
	$f("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf", {
		clip: {
			url: 'rtmp://localhost:1935/live/{{id}}',
			live: true,
			scaling: 'fit',
			provider: 'influxis',
			autoPlay: false
		},

		plugins: {
			influxis: {
				url: "flowplayer.rtmp-3.2.13.swf",
				netConnectionUrl: 'rtmp://localhost:1935/live/{{id}}'
			}
		}
	});
	
</script>

<script>
	let socket = new io();
	
	$('#formChat_{{id}}').keypress(function(e){
		if ( event.which == 13 ) {
			e.preventDefault();
			socket.emit('chat_message', $('#text_{{id}}').val());
			$('#text_{{id}}').val('');
			return false;
		}
	});
	$('#formChat_{{id}}').submit(function(e){
		e.preventDefault();
		socket.emit('chat_message', $('#text_{{id}}').val());
		$('#text_{{id}}').val('');
		return false;
	});

	socket.on('chat_message', function(msg){
		$('#messages_{{id}}').append($('<li>').html(msg));
	});

	socket.on('is_online', function(username){
		$('#messages_{{id}}').append($('<li>').html(username));
	});
	
	socket.emit('username', "{{user.user}}");
</script>