<div class="row" id="followedsCap" style="z-index:0;">
	<div class="col-md-12">
		<nav class="navbar navbar-expand-lg navbar-dark info-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<img src="/img/uploads/{{userChannel.filename}}" class="rounded-circle z-depth-0"
						alt="avatar image">
					<li class="nav-item">
						<a class="nav-link" href="/channel/channel/{{id}}">{{userChannel.user}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="followersId" href="/channel/followers/{{userChannel._id}}">Seguidores {{followers}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="followedId" href="/channel/followeds/{{userChannel._id}}">Siguiendo {{followed}}</a>
					</li>
					
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="container-fluid">
	<h3 class="mb-3 mt-3 blackOpacity">Seguidores</h3>
	<div class="row">
		{{#each followers1}}
				<a class="mr-3" href="/channel/channel/{{id}}" style="text-decoration: none; color:#000;">
					<div class="card" style="width: 16rem;">
						<div class="mt-2" style="margin: auto;">
							<img class="rounded-circle z-depth-0" src="/img/uploads/{{filename}}" style="width:130px; height: 130px" alt="Card image cap">
							<h5 class="card-title text-center mt-2">{{userName}}</h5>
						</div>
						<div class="card-body text-center" >
							<label class="card-text badge mr-2 badge-default p-1">Nombre: {{name}}</label>
						</div>
					</div>
				</a>
		{{/each}}
	</div>
</div>